<!-- TODO in Lab 5: Display the items on the menu with cost for each -->

<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu 
Total number of guest: {{getNumberOfGuests()}}-->

<div class="sidebarContent">
    <p><b>My Dinner</b></p>
    People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)" min="1" step="1" style="width:60px"/>
    <br/><br/>
    <table style="width:100%" class="table table-striped">
        <thead>
            <tr>
                <th><b>Dish&nbsp;Name</b></th>
                <th style="text-align:right"><b>Cost</b></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dish in dinnerMenu track by $index">
                <td>{{dish.Title}}</td>
                <td ng-controller="DishCtrl" style="text-align:right">{{getTotalDishPrice(dish) | round}}</td>
                <td><a ng-click="removeDishFromMenu(dish.RecipeID)" class="boxclose"></a></td>
            </tr>
            <tr>
                <td>Pending</td>
                <td ng-controller="DishCtrl" style="text-align:right">{{getTotalDishPrice(pendingDish) | round}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
	<hr/>
	<p style="text-align:right">SEK {{getTotalMenuPriceWithPendingPrice() | round}}</p>
	<div class="text-center">
        <button ng-click="confirmDinner()" ng-disabled="dinnerMenuIsEmpty()" type="button" class="btn btn-primary">Confirm Dinner</button>
	</div>
    <br/><br/>
</div>