<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
    
<div id="startpagebox">
    <div id="startpageinfo">
        <h3>A Home Dinner Service</h3>
        <hr/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <br>
        Start quickly
        <br/>
        <a href="#/search" class="btn btn-primary">Create new dinner</a>
    </div>
</div>
